/* HEADER */
header {
  background-image: url('../images/blog_header_bg.jpg');
  background-size: cover;
  background-position: center;
}

/*ABOUT*/
.about article {
  max-width: 1000px;
  font-size: 16px;
  line-height: 1.1;
}

.about h2 {
  margin-bottom: 0;
}


/*GALLERY*/
.masonry {
  column-count: 3;
  width: 100%;
  margin: 64px 0 0;
  margin: 4rem 0 2rem;
  padding-bottom: 0;
}

.masonry img {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  margin-bottom: 16px;
  margin-bottom: 1rem;
}

.masonry img:hover {
  opacity: .4;
}


#contact-form {
  padding-top: 24px;
  padding-top: 1.5rem;
}

@media only screen and (max-width: 560px) {

}
