* {
    font-family: sans-serif;
    font-weight: lighter;
}

h1 a {
    text-decoration: none;
    color: antiquewhite;
    font-size: 108px;

}

h2 {
    margin-top: -10px
}

h2 a {
    text-decoration: none;
    color: black;
    font-size: 36px;
}

h3 {
    color: gray;
    font-size: 30px;
    margin-top: 50px;
}

nav a {
    text-decoration: none;
    text-align: center;
    color: gray;
    padding: 4px;
    border-bottom: 1px solid gray;
}

nav a:hover {
    background-color: darkgray;

}

p {
    line-height: 1.4;
    color: rgb(32,32,32)
}

p::first-letter {
    float: left;
    margin: -5px, 0px, 5px, -5px;
    font-size: 108px;
    color: gray;

}
