/* ----------------------------------------
Base Styles
------------------------------------------- */
* {
	box-sizing: border-box;
}

html {
	font-size: 15px;
}

body {
	font-family: Verdana, sans-serif;
	-webkit-font-smoothing: antialiased;
	margin: 0;
	text-transform: uppercase;
	letter-spacing: .02em;
	text-align: center;
	color: #44545E;
}

/* Responsive images */
img {
	max-width: 100%;
}

/* ----------------------------------------
Typography
------------------------------------------- */
p {
	font-family: 'Lato', sans-serif;
	text-transform: none;
	line-height: 1.4;
}

h1, h2, h3, h4 {
	font-weight: 600;
}

h1 {
	font-size: 37.5px;
	letter-spacing: 12px;
	letter-spacing: .8rem;
}

h2 {
	margin-bottom: 45px;
}

h3 {
	margin-bottom: 45px;
}

a {
	text-decoration: none;
	color: #7B98AA;
	font-weight: 600;
	transition: all .3s ease-in-out;
}

a:hover {
	color: #44545E;
}



/* ----------------------------------------
Lists
------------------------------------------- */
ul a {
	text-transform: none;
}

ul {
	padding: 0;
	list-style: none;
}

li {
	display: block;
	text-align: left;
}



/* ----------------------------------------
Layout
------------------------------------------- */
section {
	padding: 105px 30px;
}

.wrap {
	max-width: 1000px;
	width: 100%;
	margin: 0 auto;
}

.vertical-center {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-ms-flex-wrap:  wrap;
	    flex-wrap:  wrap;
}

.callout {
	background-color: #CFF2F6;
}

/* ----------------------------------------
Header
------------------------------------------- */
header {
	padding-top: 30px;
	background-repeat: no-repeat;
	background-size: cover;
}
nav {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	background-color: white;
	z-index: 100;
}

nav li {
	display: inline-block;
}

nav a {
	font-weight: 600;
	letter-spacing: 0.75px;
	letter-spacing: .05rem;
	padding: 3px 60px;
	display: inline-block;
	border-bottom: none;
	text-transform: uppercase;
}

.hamburger {
	display: none;
}

h1 a,
h1 a:hover,
header h2 {
	color: #fff;
}


/* ----------------------------------------
Buttons
------------------------------------------- */
button {
	cursor: pointer;
	outline: 0;
	border: 2px solid #44545E;
	color: #44545E;
	padding: 8px 25.5px;
	background-color: transparent;
	font-weight: 500;
	text-transform: uppercase;
	font-size: 12.299px;
	letter-spacing: 1.2px;
	transition: all .3s ease-in-out;
}

button:hover {
	background-color: #44545E;
	color: white;
	font-weight: 600;
}

.articles button {
	margin-top: 30px;
}

/* ----------------------------------------
Footer
------------------------------------------- */
footer {
	background-color: #CDF3F6;
	overflow: auto;
}

footer .wrap {
	padding: 30px 15px;;
}

.social-links a {
	font-size: 30px;
	padding: 15px;
	margin-bottom: 0;
	display: inline-block;
	color: #44545E;
}

.copyright {
	border-top: 2px solid #44545E;
	padding: 15px 0 3px;
}
