img {
  width:100%;
  height:100%;
  margin: 0px;
  vertical-align: bottom;
}

body {
  font-family: 'Chakra Petch', sans-serif;
  background-color: black;
  width: 100%;
}

h1{
  text-align: center;
  color: rgb(38,38,38);
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  background-color:black;
  color: white;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: rgb(38,38,38);
}

li{
  list-style-type:none;
  font-size: 20px;
}

.navy {
  display: flex;
  justify-content: space-between;
}

.bike-container {
  position: relative;
  text-align: center;
  color: white;
}

.bike {
  opacity: .8;
 }

.bike-text {
  position: absolute;
  top: 80%;
  left: 50%;
  z-index:1;
  font-size: 25px;
  transform: translate(-50%, -50%);
}

.welcome {
  font-size: 30px;
}

.projects-container {
  position: relative;
  text-align: center;
  color: white;
}

.keyboard {
   opacity: .6;
 }

.project-title{
  position: absolute;
  top: 3%;
  left: 50%;
  z-index:1;
  font-size: 25px;
  transform: translate(-50%, -50%);
  font-size: 60px;
  color:white;
}

.projects {
  height: 900px;
  width: 100%;
  color: white;
  background-color: rgb(38,38,38);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project {
  display: flex;
  justify-content: space-around;
}

.projectshot {
  border: 1px solid white;
  height: 160px;
  flex: 1;
}

.contact {
  height: 350px;
  width: 100%;
  background-color: rgb(38,38,38);
}

.contact2 {
  height: 300px;
  width: 100%;
  background-color: rgb(192,192,192);
}

h3 {
  flex: 1
}








