/* main fonts Kaushan Script from google font by clicking on import tab @IMPORT*/
@import url("https://fonts.googleapis.com/css?family=Kaushan+Script");

/* setting custom property for color */
:root {
  --mainPink: #ef7998;
  --mainYellow: rgb(249, 228, 148);
  --mainWhite: #fff;
  --mainBlack: #000;
  --yellowTrans: rgba(249, 228, 148, 0.5);
  --mainGrey: rgb(238, 238, 238);
}

body {
  font-family: "Kaushan Script", cursive;
  /* custom color property apply using var(custom property name) */
  background: var(--mainWhite);
  color: var(--mainBlack);
}

/* nav links */
/* when click on the hamburger icon: I can see the blue outline the box getting rid of that outline*/
