/* ----------------------------------------
Header
------------------------------------------- */
header h2 {
	font-size: 20.8px;
	font-size: 1.3rem;
	letter-spacing: 4.8px;
	letter-spacing: 0.3rem;
}

header {
	background-image: url('../images/blog_header_bg.jpg');
	background-size: cover;
	background-position: center;

/* 	padding-top: 6rem;
	padding-bottom: 2.5rem; */

	/* If there is a background-image */
	height: 350px;
	margin-bottom: 48px;
	margin-bottom: 3rem;

}

h1 a {
	color: #44545E;

	/* If background-image */
	color: white;
	margin-top: 40px;
	margin-top: 2.5rem;
	display: inline-block;
}

/* ----------------------------------------
Layout
------------------------------------------- */
.grid-wrapper section {
	width: 70%;
	text-align: left;
	padding-top: 0;
	padding-bottom: 54.4px;
	padding-bottom: 3.4rem;
}

.comment {
	padding-top: 0;
}

/* ----------------------------------------
Aside
------------------------------------------- */
aside {
	width: 26%;
	text-align: left;
	padding-right: 16px;
	padding-right: 1rem;
}

aside h3 {
	margin-bottom: 19.2px;
	margin-bottom: 1.2rem;
}

aside img {
	margin: 32px 0;
	margin: 2rem 0;
}

aside {
	padding-top: 48px;
	padding-top: 3rem;
}

aside ul {
	list-style: disc;
	padding-left: 16px;
	padding-left: 1rem;
}

aside li {
	margin-bottom: 12.8px;
	margin-bottom: .8rem;
	display: list-item;
	color: #44545E;
}

article h3 {
	margin-bottom: 0;
}

@media only screen and (max-width: 774px) {
	aside {
		display: none;
	}
	.grid-wrapper section {
		width: 100%;
	}
}