*{
	box-sizing: border-box;
	font-size: 16px;
	max-width: 100%;
	
}
h1 > a{
	/*page title*/
	color: #FCC471;
	text-decoration: none;
	font-weight: 300;
	font-size: 3em;
}

h1 + h2{
	/*page subtitle*/
	color: #000000;
	text-decoration: none;
	font-weight: 300;
	font-size: 1.7em;
	margin: 0 auto;

}
h2 > a {
	/*article titles*/
	color: #000000;
	text-decoration: none;
	font-weight: 300;
	font-size: 1.6em;
	line-height: 0px;
	

}
h2 + nav {
	/*menu nav*/
	color: #000000;
	text-decoration: none;
	/*can't get the color to change*/
	font-weight: 300;
	font-size: 2em;
	margin: 20px 0px;
	min-height: 4vh;
	max-width: 70%;
  	display: flex;
  	flex-direction: row;
  	justify-content: space-between;
  	align-content: flex-start;
  	/*need help adding space between links*/
}
h3{
	/*date*/
	color: #C9C9C9;
	font-weight: 300;
	font-size: 1.8em;
}
h4{
	display: flex;
	flex-direction: row-reverse;
}
h4 > a{
	/*article titles*/
	color: #FCC471;
	text-decoration: none;
	font-weight: 700;
	font-size: 1em;
	line-height: 0px;
	display: flex;
  	flex-direction: row;
  	justify-content: flex-end;
}
img{
	width: auto;
	margin: 0 auto;
}
img + p::first-letter { 
	font-size: 400%;
	color: #C9C9C9;
	float:left;
	display: inline-block;
	font-weight: 300;
	min-height: 10vh;
	margin: 0px 20px 0px 0px;

}
article{
	display: block;
    border: 0;
    border-bottom: 1px solid #C9C9C9;
    margin: 1em 0;
    padding: 0;
    width: 90%;
}
body{
	font-family: "Lato";
	font-size: 16px;
	max-width: 100%;
	margin: 0 100px;
}

footer{
	color: #C9C9C9;
	text-decoration: none;
	font-weight: 300;
	font-size: 1em;
}

a{
	-webkit-transition: all 300ms;
	color: #FCC471;
	text-decoration: none;
	/*can't get the color to change*/
	font-weight: 300;
	font-size: 16px;
	max-width: 70%;
	display: flex
	flex-direction: row;
	justify-content: left;

  }
  