 * {
  box-sizing: border-box;
 }
 body {
  font-family: Lato, Helvetica, sans-serif;
  font-weight: lighter;
  width:65%;
  margin: auto;

  padding-left:80px;

 }

 h1 > a {
  color: #dac292;
  text-decoration: none;
  font-family: Lato, Helvetica, sans-serif;
  font-size: 45px;
  font-weight: lighter;
}
h2 > a {
  color:black;
  text-decoration: none;
  font-size: 38px;
  margin: 1px auto;
  font-weight: lighter;
}
h2 {
  margin: 0 auto 20px auto;
  font-weight: lighter;

}
header > nav a {
  color:lightgrey;
  margin: auto 10px;
  font-size: 20px;
  padding-bottom:2px;
}
h4 > a {
    color: #dac292;
    text-decoration: none;
    position:relative;
    left:85%;
}
h3 {
  font-size: 35px;
  color:#A4ACB2;
  margin:45px auto 2px auto;
  font-weight: lighter;
}
img {
  width: 95%;
}
p::first-letter{
  font-size: 80px;
  color:lightgrey;
  float:left;


}
p {
padding-top: 20px;
line-height: 2;


}
article {
  border-bottom: 1px solid lightgrey;

}
 footer {
  margin-top: 45px;
}
 footer > nav a{
  color: #dac292;
  text-decoration: none;
  margin-top: 45px;
  font-size: 16px;
}
footer > p::first-letter {
font-size: 18px;


}
footer > p {
  color: lightgrey;
}

