body {
  display: flex;
}

body div {
  width: 50%;
}

.categories{
  background-color: #232f3e;
  color: white;
  padding: 10px;
  text-align: center;
}

.categories > button {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 24px;
  margin: 0 10px;
  outline: none;
}

h1{
  border: 5px blue solid;
}

.shopping-cart ul{
   list-style: none;
   padding: 0;
}
.shopping-cart {
  background-color: #f8f8f8;
  min-height: 100vh;
  text-align: center;
}

img {
  width: 200px;
}

li{
  margin-bottom: 0;
  display: inline-block;
  border: 10px purple solid;

}

