* {
    font-family: 'Roboto Condensed', sans-serif;
    padding: 0px;
    margin: 0px;
    font-size: 24px;
    /* border: 1px solid black; */
    /* unhide border to see the grid */
}

/* parallax */

body, html {
    height: 100%;
  }

  .parallax {
    height: 75%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.aboutSection { 
    background-image: url("images/index_bg.jpg");
    border-top: none;
}

.testimonialsSection {
    background-image: url("images/index_bg2.jpg");
}

/* Grid / Wrapper Alignment */

header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(20,20,20);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5em;
    z-index: 10;
}

footer {
    height: 2em;
    background-color: rgb(20,20,20);
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: space-between;
}

    /* Section Styling */

    section {
        height: 24em;
        padding: 1em 0;
        background-color: transparent;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        border-top: rgb(102,111,127) solid 4px;
    }

    .projectsSection,
    .contactSection {
        background-color: rgb(180,180,180)
    }

    .contactSection {
        height: auto;
        padding-bottom: 3em;
    }

    .testimonialsSection {
        height: 24em;
    }

    .aboutSection {
        margin-top: 5em;
    }

    .projectsSection {
        height: 30em;
    }

    /* Div Styling */

    div {
        width: 80%;
    }

    .photos,
    .testimonials,
    .contact {
        height: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .testimonials {
        flex-direction: column;
    }

/* Contact Form */

    .contact {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contact form {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: .5em 0;
        font-size: .75em;
    }

    .contactWrapper input[type=text] {
        width: 30%;
        margin: 0 1.5%;
        border: none;
        border-radius: .5em;
        height: 2em;
        padding-left: .5em;
        font-size: .75em;
    }

    input[type=textarea] {
        width: 97%;
        margin: 0 1.5%;
        border: none;
        border-radius: .5em;
        height: 6em;
        padding-left: .5em;
        font-size: .75em;
        
    }

    input[type=submit] {
        width: 25%;
        border: 1px solid white;
        color: white;
        border-radius: .5em;
        height: 2em;
        background-color: rgb(102,111,127);
        font-size: .75em;

    }
    
/* nav and images */

nav {
    display: flex;
    margin-right: 1em;
}

#hamburger {
    display: none;
    font-size: 2.5em;
}

img {
    width: 100%;
}

img {
    width: 25%;
    margin: 0 auto;
    margin-bottom: .5em;
    display: block;
    padding: .25em;
    background-color: rgba(255,255,255,.6);
    border-radius: 1em;
    border: 1px rgb(102,111,127) solid;
}

#walrus {
    display: none;
}


span {
    margin: .1rem 1em;
}

/* photo carousel */

.photo-box {
    display: none;
}

.photos img {
    width: 75%;
    height: auto;
    cursor: pointer;
}

.photoActive {
    display: block;
}

.photo-box {
    width: 100%;
    height: auto;
    display: none;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    margin: 1em;
}

#photo1 {
    display: flex;
}

#photoSelector {
    width: auto;
    display: flex;
    justify-content: space-between
}

.photoButton {
    border-radius: 50%;
    width: .75em;
    height: .75em;
    background-color: white;
    border: 1px solid gray;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: .5em;
}

.photoButton:hover {
    cursor: pointer;
}

.activeButton {
    background-color: rgb(43, 62, 82);
    border: solid white 1px;
}

/* Typography */

a {
    margin: auto .25em;
    color: rgb(180,180,180);
    text-decoration: none;
    font-family: 'Staatliches', cursive;
    padding: .25rem .1rem;
}

a:hover {
    animation: pulse 5s ease-in-out infinite;
}

blockquote {
    font-size: 1.5em;
    text-align: center;
    background-color: rgba(255,255,255,.6);
    border-radius: 1em;
    border: 1px solid rgb(102,111,127);
    width: 100%;
    padding: .5em 0;

}

h1 {
    font-size: 2em;
    margin-top: .25em;
}

h2 {
    font-size: 1.125em;
}

h1, h2 {
    color:rgb(180,180,180)
}

h3 {
    margin-top: 1em;
}

h3, h4 {
    text-align: center;
    font-size: 1.5em;
    margin: .25em auto;
    color: white;
    text-shadow: .06rem .06rem 0em black, -.06rem -.06rem 0em rgb(102,111,127), 0 0 .5em white;
}

h5 {
    text-align: center;
}

p {
    text-align: center;
    margin-bottom: 1em;
}

footer p {
    color: rgb(180,180,180);
    margin: .375em 1em 1em 1em;
    font-family: 'Staatliches', cursive;
}

.aboutSection p {
    padding: 1em;
    background-color: rgba(255,255,255,.6);
    border-radius: 1em;
    width: auto;
    border: 1px solid rgb(102,111,127);
}

.testimonialsSection p {
    text-align: end;
    margin-top: .5em;
    color: white;
    font-size: 1.25em;
    font-weight: bold;
    text-shadow: 0 0 .25em black, -.06rem -.06rem 0em rgb(102,111,127);
}

/* testimonial quotes */

#quote1 {
    display: block;
}

#quote2 {
    display: none;
}

#quote3 {
    display: none;
}

#quote4 {
    display: none;
}

@media only screen and (max-width: 860px) {
    * {
        font-size: 14px;
    }

    img {
        width: 12em;
    }

    footer p {
        font-size: .8em;
    }

    footer {
        position: relative;
    }

    a {
        font-size: 1.25em;
    }

    .contactWrapper input[type=text] {
        height: 3.5em;
        font-size: 1em;
        width: 95.5%;
        margin: .5em 0;
    }

    input[type=textarea] {
        height: 9em;
        font-size: 1em;
        resize: none;
    }
    
    .contactWrapper {
        flex-direction: column;
    }

    input[type=submit] {
        height: 2em;
        font-size: 1.5em;
        margin-top: 1em;
    }

    .photo-box {
        width: 100%;
    }

    .photos {
        width: 100%;
    }
}

@media only screen and (max-width: 580px) {

    a {
        display: none;
    }

    #hamburger {
        display: block;
        position: fixed;
        top: .25em;
        right: 1em;
        margin-left: 1em;
    }

    #nav-wrapper {
        position: absolute;
        top: 1.25em;
        left: 1.25em;
    }

    #title {
        width: 50%;
    }

    .aboutSection {
        margin-top: 5em;
    }


}

@media only screen and (max-width: 400px) {

    h2 {
        display: none;
    }

    h1 {
        font-size: 1.25em;
    }
    
    #hamburger {
        font-size: 1em;
    }

    header {
        height: 2.25em;
    }

    a {
        font-size: 1em;
        top: .25em;
    }

    .nav {
        margin-top: -1em;
    }

    .aboutSection {
        margin-top: 2.25em;
    }
}

@keyframes pulse {
    25% {
        color: gray;
    }
    50% {
        color: lavender;
    }
    75% {
        color:rgb(102,111,127);
    }
    100% {
        color: rgb(180,180,180);
    }
}


.fullscreen {
    z-index: 10000;
    position: fixed;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    top: 0%;
    background-color: rgba(255,255,255,.6)
}

.fullscreen img {
    width: 90%;
}