/* Color Palette 
#333    - Very dark gray
#F7FC71 - Yellow
#C8AAEF - light purple
rgb(141, 70, 235) - dark purple
#D8DCFF - purple/white
#D9D0DE - grey/brown
#EAE7D7 - beige/white
#B58E5F - golden brown
#7C693E - tree brown
rgb(210, 210, 210) - light olive
#E4E3C2 - warm olive
#E8D0D9 - soft pink with olive undertone
#474240 - Very dark grayish orange
#323031 - JET
*/

body {
  padding-top: 100px;
  font-family: Arial, sans-serif;
  color: #333;
}
h1 {
  font-size: 36px;
}
h2 {
  font-size: 30px;
}
h1, h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: normal;
}
p {
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 20px;
}