/* Color Palette 
#333    - Very dark gray 80% black
#fff    - white
#337ab7 - blue
#eee    - light grey
#cecece - darker grey
#F7FC71 - Yellow
#C8AAEF - light purple
rgb(141, 70, 235) - dark purple
#D8DCFF - purple/white
#D9D0DE - grey/brown
#EAE7D7 - beige/white
#B58E5F - golden brown
#7C693E - tree brown
rgb(210, 210, 210) - light olive
#E4E3C2 - warm olive
#E8D0D9 - soft pink with olive undertone
#474240 - Very dark grayish orange
#323031 - JET
*/

body {
  padding-top: 100px;
  font-family: Arial, sans-serif;
  color: #333; /* Very dark gray 80% black */
}
h1 {
  font-size: 36px;
}
h2 {
  font-size: 30px;
}
h1, h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: normal;
}
p {
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 20px;
}
/* container global styles */
.main-container {
  /* 100% of browser */
  width: 100%;
  margin: 0 auto;
}
.single-row {
  /* child container of main container 100% */
  width: 100%;
}
/* Header */
/* main header has 3 class: col-left, col-right, btn classes  */
.col-left {
  /* 63% of single row */
  width: 63%;
}
/* img on col left */
.col-left img {
  width: 100%;
  /* rounded corner of photo */
  border-radius: 6px;
}
.col-right {
  width: 32%;
}

.col-left, .col-right {
  float: left;
  padding-left: 15px;
  padding-right: 15px;
}
/* style button inside header */
.btn {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 28px;
  border-radius: 6px;
  color: #fff;
  background-color: #337ab7; /* blue */
  /* remove underline default style of anchor tag */
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
}
/* keep the rest of the content out of header section */
.clear-fix {
  clear: both;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee;
}

/* Features */
/* features has 3 col */
.col-1, .col-2, .col-3 {
  /* each col should take up only 30% of parent:single-row */
  width: 30%;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
}

/* button for more info */
.btn-info {
  display: inline-block;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 2px;
  font-weight: normal;
  cursor: pointer;
  border: 1px solid #cecece; /* darker grey*/
  /* rounded corder */
  border-radius: 4px;
  text-decoration: none;
  color: #333; /* 80% black */
}