{% extends "layout.html" %}

{% block content %}
    <h1>Sub</h1>
    <article class="message is-dark">
        <div class="message-header">
            <a>{{sub.name}}</a>
        </div>
        <div class="message-body">
            {{sub.description}}
        </div>
    </article>

    {% if posts %}
        <h1>Post List</h1>
        {% for post in posts %}
        <article class="message is-primary">
            <div class="message-header">
                <a href={{url_for('posts', id=post.id)}}>{{post.title}}</a>

                <p>By: {{post.user}}</p>
            </div>
            <div class="message-body">
                {{post.text}}
            </div>
            <a>r/{{post.sub}}</a>
        </article>
        {% endfor %}
    {% endif %}


    <section>
        <h2>New Post Form</h2>
        <form method="POST" action="" novalidate>
            <!-- someone has to actually be on form to submit data, security tag -->
            {{ form.hidden_tag() }}

            <div>
            {{ form.title.label }}
            {{ form.title(class_="input") }}
            </div>
            <div>
            {{ form.text.label }}
            {{ form.text(class_="text") }}
            </div>
            <div>
            {{ form.user.label("Post By:") }}
            {{ form.user() }}
            </div>

            {{ form.submit(class_="button") }}
        </form>
    </section>
{% endblock %}