* {
    font-family: 'KoHo', sans-serif;
    margin: 0px auto;
}

body {
    background-image: url('game_background.jpeg');
    background-size: cover;
    background-attachment: fixed;
}

.button-wrapper {
    display: flex;
    max-width: 40vw;

}

.wrapper {
    display: flex;
    flex-direction: column;
}

button {
    padding: 6px 10px;
    border: none;
    border-radius: 50%;
    background-color: paleturquoise;
    color: black;
    height: 12vw;
    width: 12vw;
    margin: 4vw 2vw;
    font-size: 2vw;
    text-align: center;
    border: 1px solid rgba(0,0,0,.5)
}

button:hover {
    background-color: gray;
    transition: all .3s ease-in-out;
}

p {
    width: 80vw;
    font-size: 2vw;
    text-align: center;
    margin: 5% auto;
}

.header-wrapper {
    width 100%;
    height 10%;
}

h1 {
    text-align: center;
    font-size: 96px;
    padding-top: 5%;
    position: relative;
}

a {
    text-decoration: none;
    color: black;
}

h1 {
    animation: pulse 3s ease-in-out infinite;
  }


.about-text {
    display: none;
}

.selector1 {
    width: 64px;
    height: 64px;
    margin: 64px auto;
    background-color: red;
    border: 4px solid rgba(0,0,0,.5);
    border-radius: 50%;
}

.selector2 {
    width: 64px;
    height: 64px;
    margin: 64px auto;
    background-color: blue;
    border: 4px solid rgba(0,0,0,.5);
    border-radius: 50%;
}
  
.selector3 {
    width: 64px;
    height: 64px;
    margin: 64px auto;
    background-color: green;
    border: 4px solid rgba(0,0,0,.5);
    border-radius: 50%;
}

.selector4 {
    width: 64px;
    height: 64px;
    margin: 64px auto;
    background-color: white;
    border: 4px solid rgba(0,0,0,.5);
    border-radius: 50%;
}

.racer {
    width: 64px;
    height: 64px;
    margin: 0px;
    border: 4px solid rgba(0,0,0,.5);
    border-radius: 50%;
    /* display: none; */
}

#dot1 {
    background-color: red;
    position: absolute;
    left: 10%;
}

#dot2 {
    background-color: blue;
    position: absolute;
    left: 10%;
}

#dot3 {
    background-color: green;
    position: absolute;
    left: 10%;
}

#dot4 {
    background-color:white;
    position: absolute;
    left: 10%;
}


.pieceSelector {
    display: flex;
}

.return {
    width: 126px;
    height: 64px;
    font-size: 1.5em;
}

div div {
    border: 1px black solid;
    width: 80%;
    height: 72px;
    background-color: darkgray;
    display:flex;
}

track {
    width: 90%;
}

@keyframes pulse {
    0% {
        color: black;
    }
    
    50% {
        letter-spacing: .1em;
        text-shadow: .1rem .3rem .2rem black, 0 0 2rem grey; 
        color: grey;
        }
    }

    100% {
        color: black;
    }