body {
}

#field {
  background-image: url(images/court.jpeg);
  height: 100vh;
  background-position: center;
  background-size: cover;
}

#lebron {
  position: absolute;
  width: 200px;
  height: 200px;
  top:50px;
  left: 0;
}

#curry {
  position:absolute;
  width: 250px;
  height: 250px;
  top: 350px;
  left:0;
}
