/* ----------------------------------------
Base Styles
------------------------------------------- */
* {
	box-sizing: border-box;
}

html {
	font-size: 15px;
}

body {
	font-family: Verdana, sans-serif;
	-webkit-font-smoothing: antialiased;
	text-transform: uppercase;
	letter-spacing: .02em;
	text-align: center;
	color: #44545E;
}

/* Responsive images */
img {
	max-width: 100%;
}

/* ----------------------------------------
Typography
------------------------------------------- */
p {
	font-family: 'Lato', sans-serif;
	text-transform: none;
	line-height: 1.4;
}

h1, h2, h3, h4 {
	font-weight: 600;
}

h1 {
	font-size: 37.5px;
	letter-spacing: 12px;
	letter-spacing: .8rem;
}

a {
	text-decoration: none;
	color: #7B98AA;
	font-weight: 600;
	transition: all .3s ease-in-out;
}

a:hover {
	color: #44545E;
}



/* ----------------------------------------
Lists
------------------------------------------- */
ul a {
	text-transform: none;
}

ul {
	list-style: none;
}

li {
	display: block;
	text-align: left;
}



/* ----------------------------------------
Layout
------------------------------------------- */
.wrap {
	max-width: 1000px;
	width: 100%;
	margin: 0 auto;
}

.vertical-center {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-ms-flex-wrap:  wrap;
	    flex-wrap:  wrap;
}

.callout {
	background-color: #CFF2F6;
}

/* ----------------------------------------
Header
------------------------------------------- */
header {
	background-repeat: no-repeat;
	background-size: cover;
}

nav li {
	display: inline-block;
}

nav a {
	font-weight: 600;
	letter-spacing: 0.75px;
	display: inline-block;
	text-transform: uppercase;
}

.hamburger {
	display: none;
}

h1 a,
h1 a:hover,
header h2 {
	color: #fff;
}

/* ----------------------------------------
Footer
------------------------------------------- */
footer {
	background-color: #CDF3F6;
	overflow: auto;
}

.social-links a {
	/*font-size: 30px;*/
	display: inline-block;
	color: #44545E;
}
