.circle1 {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: green;
  margin: 1em;
  margin-left: 1em;
}
.circle2 {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: orange;
  margin: 1em;
  margin-left: 1em;
}



