body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

header {
  text-align: center;
}

.Counter-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 800px;
  margin: 0 auto;
}

.Counter {
  display: inline-block;
  min-width: 30%;
}
