h1{
  color: #003A3B;
  text-align: center;
  margin: 20px;
  padding: 0;
}

a {
  text-decoration: none;
}

header ul, footer ul{
  list-style: none;
}

body{
  font-family: verdana, sans-serif;
}

header nav ul{
  text-align: center;
}

header li{
  display: inline;
}

header nav a{
  color: #00A3A6;
  font-size: 1em;
}
