/* ----------------------------------------
Header
------------------------------------------- */
.vertical-center {
	background-image: url('./home_header_bg.jpg');
	background-attachment: fixed;
	height: 100vh;
}