

/* header ---------------------------------------------------------------------------*/

header {
    padding-top: 3em;
  text-align: center;
}

header img {
  width: 90%;
  height: auto;
}

.essentials {
  font-size: 60px;
  text-align: center;
  position: relative;
  bottom: 2.6em;
  right: 3em;
  color: #b9b7be;
  font-family: "Poiret One", cursive;
}

/* body ---------------------------------------------------------------------------*/

.main {
  display: flex;
  flex-wrap: wrap;
}

/* categories ---------------------------------------------------------------------------*/
.categories{
  background-color:#25484a;
  color:#b9b7be;
  margin-top: -2em;
  margin-left: 5%;
  width: 70%;
  font-size: 36px;
  text-align: center;
  padding-top: 1em;
  padding-right: 3px;
  font-family: 'Josefin Slab', serif;
}


button {
  background-color: transparent;
  text-decoration: none;
  font-size: 26px;
  font-family: 'Josefin Slab', serif;
  color:#b9b7be;
  border: none;
  margin: 2em 2.4em .7em 3.8em;
}

/* shopping cart -------------------------------------------------------------------------*/

.cart {
  border: 2px solid #25484a;
  color:#25484a;
  margin-top: -2em;
  font-size: 36px;
  text-align: center;
  padding-top: 1em;
  font-family: 'Josefin Slab', serif;
  width: 19%;
  margin-left: 4px;

}


#display {
  width: 70%;
  height: 50em;
  margin-left: 5%;
  margin-top: 3px;
  /*border: 2px solid #25484a;*/
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#display img {
  height: auto;
  width: auto;
  max-width: 25em;
  max-height: 25em;
  margin-right: 5%;
  margin-top: 3%;
}

.cartItems {
  width: 19%;
  height: 50em;
  border: 2px solid #25484a;
  margin-top: 3px;
  margin-left: 3px;
}

.cartItems ul li {
  list-style: none;
  font-family: 'Josefin Slab', serif;
  font-weight: bold;
  font-size: 20px;
}




