*{
  box-sizing: border-box;
}

body {
  text-align: center;
  height: 100vh;
  margin:0 auto;
  background: linear-gradient(orange, yellow);
}

h1 {
  text-align: center;
}

img {
  width: 200px;
  height: auto;
  padding-top: 20px;
  position: relative;
  left: 0px;
}

.row {
  display: flex;
  justify-content: space-around;
}

.racetrack {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.btn-primary{
  color: white;
  background-color: rgba(0,0,0,0);
}
