* {
  box-sizing: border-box;
}

html {
  background: url(images/racegamepage.jpg);
/*  background-repeat: no-repeat;
  background-size: auto;
  object-fit: cover;*/
/*  position: fixed;
  width: 100%;
  height: 100%;
*/

/*  background-image: url("../images/home_header_bg.jpg");*/
  background-size: cover;
  background-attachment: fixed;
  height: 55em;
  margin-bottom: 8em;
}

body {
  margin: 0 ;
}
img {
 /* max-width: 100%;
  display: block;
  position: fixed;*/
}

.press{
  z-index: 100;
}

#blueDiv, #yellowDiv {
  position: absolute;
  top: 11em;
  left: 11.5em;
  width: 37em;
  height: 16em;

}

#yellowDiv {
background-color: #d8a538;
}

#blueDiv {
background-color: #2616dd;
}


/* Button */

#myButton {
  width: 50%;
  float: center;
  background-color: goldenrod;
  color: white;
  padding: 30px 10px;
  margin: 8px 0;
  border: none;
  border-radius: 6em;
  cursor: pointer;
}

#myButton:hover {
  background-color: white;
  opacity: .5;
  transition: all 300ms ease-out;
}
