.container{
  display: flex;
  flex-direction: row;
  padding: 1%;
  justify-content: space-between;
}

.columns{
  width: 48%;
}

*{
    font-family: "arial black";
}

body{
  background-image: url("images/backgroundsmall.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 600px;
  background-attachment: fixed;
}

h1{
  text-align: center;
  background-color: #1D1FFF75;
  border-radius: 25px;
}

nav{
  text-align: center;
}

nav li{
  display: inline-block;
}

nav a{
  text-decoration: none;
  padding:0 50px;
}
button{
  padding:1em;
  background-color: #e7e7e725;
  font-size: 20px;
  cursor: pointer;
}

button img{
  width: 200px;
  margin:0 auto;
  display: block;
}

#planes{
  display:none;
  flex-wrap: wrap;
}

#boats{
  display:none;
  flex-wrap:wrap;
}

#cars{
  display:none;
  flex-wrap: wrap;
}

#garage li img{
  width: 200px;
  margin:0 auto;
  display: block;
}

#garage li{
  list-style: none;
  text-align: center;
}

#gButton {
  display:flex;
  align-items: center;
  justify-content: center;
}

#gButton button{
  width:100px;
  padding:1px;
  font-size: 20px;
  border: none;
  display: none;
}

