a {
  color: #F8CE78;
}

header nav a {
font-size: 18px;
display: inline-block;
margin-right: 10px;
color: #D3D3D3;
border-bottom: 2px solid #EEE;
text-decoration: none;
}


article {
  border-bottom: 1px solid ##D3D3D3;
  margin: 3em 0;
  padding-bottom: 1.5em;
}

img {
  display: block;
  margin: 10px 0;
  max-width: 100%;
}


h2 {
  text-decoration: none;
  font-weight: normal;
  font-size: 2em;
  color: black;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

h2 a {
  color: inherit;
}

h3 {
  font-size: 2em;
  font-weight: normal;
  color: #CCC;
  margin: 0;
  padding: 0;
}

article p:first-letter {
  float: left;
  color: #ddd;
  font-family: Georgia;
  line-height: 1;
  margin: -.1em .1em 0 -.1em;
}

h4 {
  text-align: right;
}

body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  font-size: 20px;
  background: #fff;
  color: #444;
  padding: 50px;
  font-size: 16px;
  border-left: 6px solid #D3D3D3;
  max-width: 800px;
}

, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

footer {
  color: ##D3D3D3:;
}









