html {
  box-sizing: border-box;
}

body {
  line-height: 1.5
}

nav {
  background: #24292d;
}

nav a:hover {
  color: limegreen;
  text-shadow: 0 1px 2vw limegreen;
}

.nav-items {
  display: flex;
  justify-content: space-around;
}

.banner {
  height: 60vh;
  padding: 1rem;
  background: url(../images/backgroundbanner.jpg);
  background-color: grey;
  background-size: cover;
}

.banner-inner{
  position: relative;
  top: 10rem;
  left: 2rem;
}

h1 {
  font-size: 3.5rem;
  text-transform: uppercase;
  color: white;
  text-shadow: 0 2px 1vw #24292d;
}

h3 {
  color: white;
  text-shadow: 0 1px 2vw #24292d;
}

.photo {
  grid-column: 1 / 5;
  height: auto;
}

.intro {
  font-size: 1.5rem;
  padding: 0 4rem;
  grid-column: 5 / 13;
}

.intro a {
  color: limegreen;
}

.code {
  height: 20rem;
  background: #24292d;
  grid-column: 1 / 13;
  position: relative;
}

.code h2 {
  text-align: center;
  padding-left: 2rem;
  color: white;
  text-shadow: 0 1px 2vw limegreen;
}

.miscellaneous {
  grid-column: 1 / 7;
}

.miscellaneous h2 {
  text-align: center;
  padding-left: 2rem;
  color: white;
  text-shadow: 0 1px 2vw limegreen;
}

.contact {
  grid-column: 7 / 12;
}

.contact h2 {
  text-align: center;
  padding-left: 2rem;
  color: white;
  text-shadow: 0 1px 2vw #24292d;
}

.main-content{
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  position: relative;
}
