html {
  box-sizing: border-box;
}

/*CSS NAV COLORS
#24292d#233darkslategrayhsl(206,11,15)rgb(36,41,45)

*/
nav {
  background: #24292d;
}

nav, a:hover {
  color: green;
}

.nav-items {
  display: flex;
  justify-content: space-around;
}

.photo {
  grid-column: 1 / 5;
}

.banner-inner{
  position:relative;
}

h1 {
  text-transform: uppercase;
  color: white;
  text-shadow: 0 2px #24292d;
}

.main-content{
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  position: relative;
}

.banner {
  height: 85vh;
  padding: 1rem;
  background: url(../images/backgroundbanner.jpg);
  background-color: grey;
  background-size: cover;
}
