/* Styles for main document items */
html {
  scroll-behavior: smooth;
}

body {
  /*background: gray;*/
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
  margin: 0 auto;
  /*padding: 30px;*/
  text-align: center;
  background-size: cover;
}

/* Adjusting the page to make room for the nav*/
main{
  padding-top: 40px;
}

/*Styles for main page blocks */


article, section {
  padding: 80px 0;
}

footer {
  background: #4AD1CB;
  padding: 30px;
}

/*article {
  background-image: url("../images/sky.jpg");
  background-size: cover;
}*/

/* Navigation bar styling */
.nav {
  border-bottom: 2px solid white;
  /*position: fixed;*/
  padding: 10px;
  /*top: 0;*/
  left: 0;
  background: #4AD1CB;
  width: 100%;
  z-index: 2;
  margin-bottom: 20px;
}

a {
  color: white;
  padding-bottom: 0;
}

a:hover {
  color: white;
  background: gray;
  transition: background 1s;
}

/* Content/text styles */
h1 {
  text-align: center;
  font-size: 60px;
  margin-top: 20px;
  color: #FEB6A8;
}

h2 {
  font-size: 30px;
  border-bottom: 2px solid black;
  display:inline-block ;
}

p {
	text-align: justify;
}

#succulent{
  height: 70vh;
  width: 100%;
}

#succulent img{
  max-height: 100%;
  border: none;
}


img {
  width: 100%;
}

/*#gallery img:hover {
  opacity: .5;
}*/

#testimonials {
  height: 500px;
  color: white;
  background-color: #4AD1CB;
  margin: 0;
  width: 100%;
}



/* Media Queries */
@media (max-width: 768px) {
  body {
    /*padding: 0 15px;*/
  }
	article {
  		margin: 0 50px 0 50px;
  }
  footer {
  		margin: 0 50px 0 50px;
  }
}
