aside {
  width: 26%;
  text-align: left;
  padding-right: 16px;
  padding-right: 1rem;
}

aside h3 {
  margin-bottom: 19.2px;
  margin-bottom: 1.2rem;
}

aside img {
  margin: 32px 0;
  margin: 2rem 0;
}

aside {
  padding-top: 48px;
  padding-top: 3rem;
}

aside ul {
  list-style: disc;
  padding-left: 16px;
  padding-left: 1rem;
}

aside li {
  margin-bottom: 12.8px;
  margin-bottom: 0.8rem;
  display: list-item;
  color: #44545e;
}

article h3 {
  margin-bottom: 0;
}
