
/* ----------------------------------------
Nav bar
------------------------------------------- */

nav {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: white;
	z-index: 100;
}

nav li {
	display: inline-block;
}

nav a {
	font-weight: 600;
	letter-spacing: 0.75px;
	letter-spacing: .05rem;
	padding: 3px 60px;
	padding: .2rem 4rem;
	display: inline-block;
	border-bottom: none;
	text-transform: uppercase;
}

.hamburger {
	display: none;
}

h1 a,
h1 a:hover,
header h2 {
	color: #fff;
}