{% extends "layout.html" %}

{% block content %}
    <!-- return render_template('post.html', post=post, comments=comments, form=form) -->
    <h1>Comment: {{comment.title}}</h1>
    <article class="message is-primary">
        <div class="message-header">
            <div>{{comment.title}}</div>
            <p>By: {{comment.username}}</p>
        </div>
        <div class="message-body">
            {{comment.comment}}
        </div>
        <a>r/{{comment.post}}</a>
    </article>
    
    <section>
        <h2>Add a Comment to this Post</h2>
        <form method="POST" action="" novalidate>
            {{ form.hidden_tag() }}

            <div class="field">
            {{ form.title.label }}
            {{ form.title(class_="input") }}
            </div>
            <div class="field">
            {{ form.comment.label }}
            {{ form.comment(class_="textarea") }}
            </div>
            <div class="field">
            {{ form.username.label("Post By:") }}
            {{ form.username(class_="input") }}
            </div>

            {{ form.submit(class_="button") }}
        </form>
    </section>

{% endblock %}

<!-- 
class PostForm(Form):
  user = TextField("By:")
  title = TextField("Title")
  text = TextAreaField("Content")
  submit = SubmitField('Create Post')

# file that we can use all the from for my app
  # username = CharField()
  # title = CharField()
  # comment = TextField()
class CommentForm(Form):
  username = TextField("By:")
  title = TextField("Title")
  comment = TextAreaField("Content")
  submit = SubmitField('Create Comment')
-->