/* Color Palette 
#333    - Very dark gray 80% black
#fff    - white
#337ab7 - blue
#eee    - light grey
#cecece - darker grey
#e63636 - red
#adadad - lighter grey
rgba(31, 31, 31, 0.75) - graphite grey
#129CF3 - BLUE
#A9ADB0 - GREY

#F7FC71 - Yellow
#C8AAEF - light purple
rgb(141, 70, 235) - dark purple
#D8DCFF - purple/white
#D9D0DE - grey/brown
#EAE7D7 - beige/white
#B58E5F - golden brown
#7C693E - tree brown
rgb(210, 210, 210) - light olive
#E4E3C2 - warm olive
#E8D0D9 - soft pink with olive undertone
#474240 - Very dark grayish orange
#323031 - JET
*/
/* for all elements: *  */
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Raleway', sans-serif;
  /* when content overflows vertically (overflow-y) add scroll bar  */
  overflow-y: scroll;
  /* hide content if overflow horizontally */
  overflow-x: hidden;
}
p {
  /* note bootstrap is doing margin for you > no need to worry about spacing */
  font-size: 14px;
}
/* ======= Header ======= */
.header {
  /* add background img in header element */
  background-image: url("../images/header-bg.jpg");
  /* keep the img fixed makes parallax effect */
  background-attachment: fixed;
  background-repeat: no-repeat;
  /* 2 background-position values: horizontal, vertical position.  */
  background-position: 50% 50%;
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
}

.header-overlay {
  /* add modern looking overlay adding greyish overlay */
  background-color: rgba(31, 31, 31, 0.75); /* graphite grey with bit of opacity */
}
.header-iphone img {
  /* fit whole img width */
  width: 100%;
}
.logo {
  padding-bottom: 50px;
}
.header-text h1 {
  color: #fff; /* white */
  font-size: 35px;
  font-weight: 300;
  line-height: 45px;
  padding-top: 30px;
  text-transform: uppercase; 
}
.header-text p {
  color: #fff; /* text white */
  font-size: 17px;
  line-height: 28px;
  font-weight: 300;
}
.header-btns {
  margin-top: 90px;
  margin-bottom: 50px;
}
.btn-download,
.btn-download:focus,
.btn-download:active, 
.btn-download:visited
{
  background: transparent;
  border-color: #129CF3; /* BLUE*/
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 19px;
  text-transform: uppercase; 
  /* rounded corner */
  border-radius: 3px;
  /* add transition to button */
  transition: all 1s;
  /* safari chrome -webkit- */
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
}
.btn-download:hover {
  background-color: #129CF3; /* BLUE*/
  color: #fff; /* white text */
}
.btn-tour,
.btn-tour:focus,
.btn-tour:active, 
.btn-tour:visited {
  color: #A9ADB0; /* GREY */
  margin-left: 20px;
  text-transform: uppercase;
  font-size: 19px;
  font-weight: 500;
  /* button is see through */
  background: transparent;
  transition: all 1s;
  /* safari chrome -webkit- */
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
}
.btn-tour:hover {
  color: #fff;
}