/* Color Palette 
#333    - Very dark gray 80% black
#fff    - white
#337ab7 - blue
#eee    - light grey
#cecece - darker grey
#e63636 - red
#adadad  - lighter grey

#F7FC71 - Yellow
#C8AAEF - light purple
rgb(141, 70, 235) - dark purple
#D8DCFF - purple/white
#D9D0DE - grey/brown
#EAE7D7 - beige/white
#B58E5F - golden brown
#7C693E - tree brown
rgb(210, 210, 210) - light olive
#E4E3C2 - warm olive
#E8D0D9 - soft pink with olive undertone
#474240 - Very dark grayish orange
#323031 - JET
*/
/* for all elements: *  */
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Raleway', sans-serif;
  /* when content overflows vertically (overflow-y) add scroll bar  */
  overflow-y: scroll;
  /* hide content if overflow horizontally */
  overflow-x: hidden;
}
p {
  /* note bootstrap is doing margin for you > no need to worry about spacing */
  font-size: 14px;
}
/* ======= Header ======= */
.header {
  /* add background img in header element */
  background-image: url("../images/header-bg.jpg");
  /* keep the img fixed makes parallax effect */
  background-attachment: fixed;
  background-repeat: no-repeat;
}