
/* ----------------------------------------
Base Styles
------------------------------------------- */
*{
  box-sizing: border-box;
}


nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 100;
}

body {
  font-family: Raleway, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-transform: uppercase;
  letter-spacing: .02em;
  text-align: center;
  color: #44545E;
}
/* ----------------------------------------
Typography
------------------------------------------- */

p {
  font-family: 'Lato', sans-serif;
  text-transform: none;
  line-height: 1.4;
}

textarea {
 height: 100px; }

h1, h2, h3, h4 {
  font-weight: 600;
}

.hamburger{
display: none;
}


h1 {
  font-size: 37.5px;
  letter-spacing: 12px;
  letter-spacing: .8rem;
}

h2 {
  margin-bottom: 45px;
}


h3 {
  margin-bottom: 45px;
}

a {
  text-decoration: none;
  font-weight: 600;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  color: #7B98AA;
}
h1 a {
  color: white;
}

li a:hover {
  color: #44545E;
}

.wrap-4 h2 {
  margin:0;
}
/*--------------------
HEADER
/*--------------------*/
header {
  background-image: url('../images/home_header_bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-size: 40px;
  height: 550px;
  margin-bottom: 6em;

}

.vertical-center {
font-size:1em;
text-align: center;
margin-top: 25px;
display: flex;
align-items: center;
justify-content: center;
color: white;
flex-wrap: wrap;
margin-top: 0 ;
display: -webkit-box;
display: -ms-flexbox;
-webkit-box-align: center;
-ms-flex-align: center;
-webkit-box-pack: center;
-ms-flex-pack: center;
-ms-flex-wrap:  wrap;

}


.nav-container {
  display: flex;
  justify-content: center;
  display: -webkit-box;
display: -ms-flexbox;
-webkit-box-pack: center;
-ms-flex-pack: center;
}
/*---------------------------
LISTS
/*-------------------------*/

nav li {
  display: inline-block;
}

ul a {
  text-transform: none;
}

ul {
  padding: 0;
  list-style: none;
}

li {
  display: block;
  text-align: left;
}

/*---------------------------
FLEXBOX FOR LANDING PAGE
/*------------------------*/

nav a {
  font-weight: 600;
  letter-spacing: 0.75px;
  letter-spacing: .05rem;
  margin: 15px 25px;
  display: inline-block;
  border-bottom: none;
  text-transform: uppercase;
}

.grid-wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  display: -webkit-box;
display: -ms-flexbox;
-webkit-box-pack: justify;
-ms-flex-pack: justify;
-ms-flex-wrap:  wrap;
}

.col-third{
  width: 30%;

}

.layout-1 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
  width: 30%;
  margin-right: 5%;

}
.layout-2{
 display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
  width: 30%;
  margin-right: 5%;
}

.layout-3 {
   display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
  width: 30%;
  margin-right: 5%;
  margin-bottom: 10px;
}
.layout-3 img {
  margin-bottom: 2px;
}
.masonry{
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
}
}

 ./*masonry img {
   width: 30%;
   max-width: 100%;
   margin: 10px;
 }*/

 img:hover{
  opacity: 0.5;
 }
 .masonry img:hover {
  opacity: .6;
}

textarea{
  width: 100%;
}

li a:hover{
  text-transform: bold;
  text-decoration: underline;
}

.title {
  margin-top: 50px;
  margin-bottom: 75px;
}


button:hover {
  background-color: #4b4d54;
  color: white;
  font-weight: 600;
}

.issue-nineteen{
  margin-top: 10px;
}
 img{
  max-width: 100%;
 }
.wrap-4 {
  background-color: #CDF3F6;
  overflow: auto;
  padding: 30px 15px;
  margin-top: 50px;
  height: 30em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrap-4 p {
  width: 50%;
}

footer .wrap {
  padding: 30px 15px;
}


.form-wrap-columns {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.form-wrap-row {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}


.col-3 {
  margin-right: 10px;
}
.col-3:last-of-type {
  margin-right: 0;
}

.form-wrap button {
  width: 100%;
/*flex: 1;*/
}

form button {
  width: 100%;
}


/*form input {
width: 20%;
*/   }

textarea {
  max-width: 100%;
  display: block;
}

input, textarea, button {
  border: 2px solid #44545E;
  margin-bottom: 12px;
  margin-bottom: .8rem;
  padding: 20px 20px;
  outline: 0;
  flex: 1;
}

footer {
  background-color: #CDF3F6;
  overflow: auto;
}

footer .wrap {
  padding: 30px 15px;;
}

.social-links a {
  font-size: 30px;
  padding: 15px;
  margin-bottom: 0;
  display: inline-block;
  color: #44545E;
}
input[placeholder="Email Address"] {
  background-color: white;
  border-radius: 0;
  border: none;
  margin-right: 20px;
  padding: 10px 5px;
  text-align: center;
  text-transform: uppercase;
  width: 200px;
}

button,
input[type="submit"] {
  cursor: pointer;
  outline: 0;
  border: 2px solid #44545E;
  color: #44545E;
  padding: 8px 25px;
  background-color: transparent;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1.2px;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  overflow: auto;
}


.copyright {
  border-top: 2px solid #44545E;
  padding: 15px 0 3px;
}

/*---------------------------
IPAD MEDIA QUERY
/*------------------------*/
@media screen and (max-width: 700px) {

.wrap-1 {
  display: flex;
  justify-content: space-between;
}
.form-wrap-columns {
  display: flex;
  flex-direction: column;
}


.col-third{
  width: 100%;
}

.col-3{
width: 100%
}


.grid-wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
}
/*---------------------------
MOBILE MEDIA QUERY
/*------------------------*/

@media screen and (max-width: 500px) {

.wrap-1 {
  display: flex;
  justify-content: space-between;
}

.col-third{
  width: 100%;
}

.col-3{
width: 100%
}


.grid-wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.hamburger{
  color: grey;
  font-size: 26px;
  /*margin-bottom: 60%;*/
  /*margin-right: 10%;*/
  display: inline-block;
  align-self: flex-start;
  top: 10px;
  left: 30px;
  position: fixed;
  mix-blend-mode: difference;

}

.nav-container{
  display: none;
}

}
