html,body {


}

body {
  background-image: url("css/marsBG.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  max-height:100%;
  max-width:100%;
}
#gameWorld {
  height:100%;
  width:1000px;
  border:1px solid black;
  position:relative;



}

#playerr1 {
  height:50px;
  width:50px;
  background-color: red;
  color:red;
  margin-top: 200px;
  position:absolute;
 ;

}
#playerr2 {
   height:50px;
  width:50px;
  background-color: blue;
  color:red;
  position:absolute;
  margin-top: 50px;
}





h1 {
  text-align: center;
  font-family: 'Ailerons', sans;
  color:#C0C0C0;
  font-size: 50px;
}
@font-face {
    font-family: 'Ailerons';
    src: url(css/Ailerons-Typeface.otf);
    font-weight: bold;
}




.buttons {
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  color: white;
  margin-top:400px;
}
.buttons .button1 {
  border:2px solid #C0C0C0;
  padding:2px 4px;
}
.buttons .button2 {
  border:2px solid #C0C0C0;
   padding:2px 4px;
}

