/* ----------------------------------------
Forms
------------------------------------------- */
form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

form button {
	width: 100%;
}

textarea {
	width: 100%;
	display: block;
}

input, textarea {
	border: 2px solid #44545E;
	margin-bottom: 12px;
	margin-bottom: .8rem;
	padding: 10px 10px;
	outline: 0;
}

::-webkit-input-placeholder {
   color: #7C878E;
   text-transform: uppercase;
   letter-spacing: 0.75px;
   letter-spacing: .05rem;
   font-size: 12.299px;
   font-size: .82rem;
   font-weight: 600;
}

:-moz-placeholder { /* Firefox 18- */
   color: #7C878E;
   text-transform: uppercase;
   letter-spacing: 0.75px;
   letter-spacing: .05rem;
   font-size: 12.299px;
   font-size: .82rem;
   font-weight: 600;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #7C878E;
   text-transform: uppercase;
   letter-spacing: 0.75px;
   letter-spacing: .05rem;
   font-size: 12.299px;
   font-size: .82rem;
   font-weight: 600;
}

:-ms-input-placeholder {  
   color: #7C878E;
   text-transform: uppercase;
   letter-spacing: 0.75px;
   letter-spacing: .05rem;
   font-size: 12.299px;
   font-size: .82rem;
   font-weight: 600; 
}

