html, body {
  height: 100%;
}
body {
  margin: 0;
  background: #ddeedd;
  color: #b0aac0;
  font-family: "Merriweather", monospace;
}

nav {
  position: fixed;
  background: #c2d4dd;
  margin-bottom: 10px;
  width: 100vw;
}

nav ul {
  margin: 0;
  float: right;
  padding: 5px;
}

nav li {
  display: inline-block;
}

nav a {
  font-family: "Staatliches", monospace;
  color: #b0aac0;
  text-decoration: none;
  font-size: 20px;
  letter-spacing: .5px;
  margin: 0 10px;
  display: inline-block;
  margin: 10px;
}

nav li a:hover {
  text-decoration: none;
  color: #ddeedd;
}

header img {
  border-radius: 200px;
  height: 200px;
  border: 10px solid #c2d4dd;
  margin-top: 75px;
}

h1 {
  font-family: "Staatliches", monospace;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 70px;
  margin-top: 3px;
  margin-bottom: 10px;
  color: #b0aac0;
}

h2 {
  font-family: "Staatliches", monospace;
  color: #b0aac0;
  font-style: italic;
  font-size: 40px;
  letter-spacing: 1px;
  margin: 10px 0;
  border-bottom: 3px solid #c2d4dd;
}

p {
  font-size: 14px;
  width: 500px;
}

blockquote {
  width: 800px;
}

.carousel-slide-container {
  width: 800px;
  margin: 0 auto;
}

.arrow-color {
  color: #b0aac0;
}

footer {
  background: #c2d4dd;
  width: 100%;
  display: inline-block;
  padding: 10px;
  margin-bottom: 0;
}

.copyright {
  float: left;
  padding-left: 10px;
}

.message {
  float: right;
  padding-right: 10px;
}
