
* {
  box-sizing: border-box;
}

.headerImg{
  width:  85em;
  height: 55em;
  margin: 0 auto;
   background-image: url("../images/home_header_bg.jpg");
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    background-image:url('../images/home_header_bg.jpg');
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

body {
  width: 85em;
  margin:-20em auto;
  color: #43545d;
  display: flex;
  flex-direction: column;
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 3em;
}

h2 {
  margin: 0 auto;
  font-size: 28px;
  text-align: center;

}

h3 {
  font-size: 22px;
  margin: 0 auto;

}



.currentIssue {
  max-height: 80em;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
}

.gallery {
width: 30%;
height: auto;
/*border: 1px solid black;*/
padding: 1em auto;
margin: 1em auto;
}



.archive {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
}

.row1, .row2, .row3 {
  width: 30%;
  margin: 2em auto;
}

.archiveImg {
 width: 90%;
}

.archiveImg:hover, .gallery:hover{
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.hamburger {
  display: none;
}



nav{

  margin: 0 auto;
  height: 5em;
  width: 85em;
  padding-top: 2.5em;
  line-height: 1em;


  z-index: 100;
  background-color: white;
  align-items: flex-start;
}

nav ul {
   display: flex;
  flex-direction: row;
  justify-content: center;
}

nav ul li {
    list-style-type: none;
    margin: 0 4em;
    font-size: 15px;
}

nav ul li a {
  color: #8ba6b4;
}

ul li {
color: #8ba6b4;
}

.title {
  position: relative;
  top: 14em;
  text-align: center;
  font-size: 32px;
  color: white ;
  font-weight: normal;
  z-index: 40;
}

.title h1 {
  letter-spacing: 10px;

  font-weight: normal;

}
.title h3 {
  font-weight: normal;
}

#about {
  background-color: #ccf2f5;
  text-align: center;
  padding: 14em 3em;
  margin: 2em 0;
  max-width: 100vw;
  overflow-wrap: break-word;
}

#about p {
  overflow-wrap: break-word;
  max-width: 100vw;
}

footer {
  background: #c9f3f6;
  text-align: center;
  height: 20em;
  margin: 4em 0;
  display: flex;
  flex-direction: column;
  padding: 4em 0;
}

footer nav {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
background-color: transparent;
}

footer nav li
{
  margin: 2em 4em 0 0;
}


footer nav li i{
 width: 0;
 height: 3em;
 font-size: 32px;
}

footer input[type="email"]{
  background-color: white;
  border-radius: 0;
  margin-right: 20px;
  text-align: center;
  border: none;
  width: 22em;
  height: 3em;
  margin-top: 3.5em;
}

footer input[type="submit"] {
  background-color: transparent;
margin-left: 40px;
width: 12em;
height: 3.4em;

  margin-top: 3.5em;

cursor: pointer;
outline: 0;
border: 2px solid #44545E;
color: #44545E;
font-weight: bolder;
text-transform: uppercase;
font-size: 12px;
letter-spacing: 1.2px;
transition: all .3s ease-in-out;
}


button:hover,
input[type="submit"]:hover {
  background-color: #44545E;
  color: white;
  font-weight: bold;
}

copyright {
  border-top: 1px solid black;
  padding-top:1em;
  margin-top: 3em;
  margin-left: -2em;
}




/*
--------------------------------------------------------------*/








.contact {
  width: 85em;
  text-align: center;
  margin: 5em auto;
  }

  .contact h1 {
     text-transform: uppercase;
  margin-bottom: 2em;
  font-size: 26px;
  }


.contact form {
display: flex;
flex-direction: column;
}


.message {
  height: 14em;
  width: 95%;
  border: 2px solid #44545E;
  margin-top: 1em;
}

.contact form .submit {
  width: 95%;
  margin-left: -3px;
  height: 3.5em;
  margin-top: 1em;
  background: white;
  color: grey;
  font-size: 1em;
  text-transform: uppercase;
  border: 2px solid #44545E;
}

input[type="text"].message::-webkit-input-placeholder {
  position: relative;
  bottom: 5em;
}

input::placeholder {
  padding-left: 10px;
  color: grey;
  font-size: 1em;
  text-transform: uppercase;
}

.contact form input[name = "name"], .contact form input[type = "email"],
.contact form input[name = "subject"]
{
    height: 3em;
    width: 30%;
    margin:1px 1%;
    border: 2px solid #44545E;
}


@media screen and (max-width: 1100px){

.archive {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  align-items: center;

  margin-left: -12em;
}

.archiveHeader {
   text-align: center;
   padding-right: 13%;
}

.row1, .row2, .row3 {
  width: 50%;
  margin: 2em auto;
}

.archiveImg{
  width: 55%;
}

.currentIssue {
  width: 100vw;
  height: 50em;
  margin: 1em;
  padding: 1em;
}

.gallery: {
  padding: 1em;
  margin: 1em;
  width: 20vw;
}

.contactForm .row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10em;
}

.contactForm .message {
  width: 30%;
  margin-left: 1%;
}

.contactForm .row .submit {
  width: 30%;
  margin-left: 1%;
}

.contact h1 {
  width: 50vw;
  text-align: center;
}

footer,
footer nav,
footer nav li {
  max-width: 100vw;
}

  .hamburger {
    display: block;
    color: #fff;
    font-size: 1.7rem;
    position: absolute;
    top: 10px;
    left: 2px;
  }

}


@media screen and (max-width: 520px) {
  .wrapper {
    width: 24em;
    height: 36em;
  }

}

















