
.headerImg{
  width:  85em;
  height: 55em;
  margin: 0 auto;
  position: sticky;
}

body {
  width: 85em;
  margin:-20em auto;
  color: #43545d;
  display: flex;
  flex-direction: column;
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 3em;
}

h2 {
  margin: 0 auto;
  font-size: 28px;
  text-align: center;
}

h3 {
  font-size: 22px;
  text-align: center;
}



.currentIssue {
  height: 100em;
  display: flex;
  flex-wrap: wrap;

  overflow:auto;
}

.gallery {
width: 33%;
border: 1px solid black;
padding-top: 0px;
}



.archive {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
}

.row1, .row2, .row3 {
  width: 30%;
}

.archiveImg {
width: 100%;
}

nav{

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 auto;
  position: sticky;


    height: 7em;
  width: 85em;
  padding-top: 3em;
  line-height: 1em;
  top: 0;

  z-index: 100;
  background-color: white;
  align-items: flex-start;
}

nav li {
    list-style-type: none;
    border: 1px solid black;
}

nav li a {
  color: #8ba6b4;
}

ul li {
color: #8ba6b4;
}

.title {
  position: relative;
  top: 14em;
  text-align: center;
  font-size: 32px;
  color: white ;
  font-weight: normal;
  z-index: 40;
}

.title h1 {
  letter-spacing: 11px;

  font-weight: normal;

}
.title h3 {
  font-weight: normal;
}

.about {
  background-color: #ccf2f5;
  text-align: center;
  padding: 14em 3em;
  margin: 2em 0;
}


footer {
  background: #c9f3f6;
  text-align: center;
  height: 20em;
  margin: 4em 0;
  display: flex;
  flex-direction: column;
  padding: 4em 0;
}

footer nav {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
}

footer nav li
{
  margin-top: 2em;
}


footer nav li i{
 width: 3em;
 height: 3em;
 font-size: 32px;
}

input[type="email"]{
  background-color: white;
  border-radius: 0;
  margin-right: 20px;
  text-align: center;
  padding: 10px 5px;
  border: none;
  width: 16em;
  height: 3em;

  margin-top: 2em;
}

input[type="submit"] {
  background-color: transparent;
margin-left: 40px;
width: 20em;
height: 3em;

  margin-top: 2em;

cursor: pointer;
outline: 0;
border: 2px solid #44545E;
color: #44545E;
font-weight: bolder;
text-transform: uppercase;
font-size: 12px;
letter-spacing: 1.2px;
transition: all .3s ease-in-out;
}


button:hover,
input[type="submit"]:hover {
  background-color: #44545E;
  color: white;
  font-weight: bold;
}

copyright {
  border-top: 1px solid black;
  padding-top:2em;
  margin-top: 7em;
}




/*
--------------------------------------------------------------*/








.contact {
  width: 30em;
  height: 40em;
  background: grey;
  margin: 5em auto;
  }


h1 {
  margin-top: 1em;
  padding-top: 1em;
  text-align: center;
}


form .row {

  display: flex;
  width: 30em;
  height: 30em;
}

form .col-sm-6 input[type="text"] {
  width: 12em;
  height: 3em;
  margin: 2em 0 2em 2em;
  border-radius: 20%;
  box-shadow: -5px 5px grey;
}

form .col-sm-6
{display: flex;
  flex-direction: column;
  width: 30em;
  height: 20em;
}


form .message {
   width: 12em;
  height: 14em;
   margin: 3em 6em 0 1em;
  border-radius: 20%;
  box-shadow: -5px 5px grey;
}

form .submit {
   width: 26em;
   height: 2em;
  border-radius: 20%;
  box-shadow: -5px 5px grey;
  background: forestgreen;
  color: white;
  margin: 0 2em;
}


@media screen and (max-width: 420px) {
  .wrapper {
    width: 24em;
    height: 36em;
  }

  form .row {
    width: 24em;
  }

  form .col-sm-6 {
    width: 9em;
  }

form .col-sm-6 input[type="text"] {
  width: 9em;
}

  form .message
  {
    width: 10em;
    margin-left: 4em;
  }

  form .submit {
    width: 21em;
    margin: 0 1em;
  }
}
















