body {}
.player1 {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background-color: lightblue;
  display:block;
  margin-bottom: 50px;
}

.player2 {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background-color: goldenrod;
  display:block;
}

h1 {
  color: purple;
}

